<!-- Start Contact -->
<br>
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <h2>Contact Us</h2>
                    <p>Feel free to contact with us. We are ready to serve you the better service.</p>
                    
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form id="ajax-contact" class="mu-contact-form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">                
                                                    <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">                
                                                    <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
                                                </div>    
                                            </div>          
                                        </div>

                                        <div class="form-group">                
                                            <input type="text" class="form-control" placeholder="Your Subject" id="subject" name="subject" required>
                                        </div>

                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
                                        </div>
                                        <button type="submit" class="mu-send-msg-btn"><span>Send Message</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Contact Content -->
