<!-- <div class="row"> -->
  <!-- &nbsp; -->
<!-- <h1 class="text-center">Add Customer</h1> -->
<!-- <form> -->
  <!-- <div class="col-md-6"> -->
<div class="form-group">
  <label for="customerid">Customer Id</label>
  <input
    type="text"
    class="form-control"
    id="custid"
    [(ngModel)]="customerService.currentCustomer.custid"
    name="custid"
    disabled
  />
</div>
<div class="form-group">
  <label for="customername">Customer Name</label>
  <input
    type="text"
    class="form-control"
    id="name"
    required
    [(ngModel)]="customerService.currentCustomer.custname"
    name="custname"
  />
</div>
<div class="form-group">
  <label for="phoneno">Phone No.</label>
  <input
    type="text"
    class="form-control"
    id="custphone"
    required
    [(ngModel)]="customerService.currentCustomer.custphone"
    name="custphone"
  />
</div>
<div class="form-group">
  <label for="mail">E-mail</label>
  <input
    type="email"
    class="form-control"
    id="email"
    [(ngModel)]="customerService.currentCustomer.email"
    [(ngModel)]="customerService.userRole.emailid"
    name="email"
    required
    disabled
  />
  
</div>

<div class="form-group">
  <label for="status">Password</label>
  <input
    type="pass"
    class="form-control"
    id="pass"
    required
    [(ngModel)]="customerService.userRole.password"
    name="Password"
  />
</div>
<div class="form-group">
  <label for="address">Address</label>
  <textarea
    class="form-control"
    id="custaddress"
    [(ngModel)]="customerService.currentCustomer.custaddress"
    required
    name="custaddress"
  ></textarea>
</div>

<div class="form-group">

  <label for="inlineFormCustomSelect">User Role:</label>
  <select id="inlineFormCustomSelect"
  class="custom-select"
  [(ngModel)]="customerService.userRole.role" required>
    <!-- <option selected>Choose...</option> -->
    <option>Customer</option>
    <option>Agent</option>
    <option>Admin</option>
    <!-- <option>Guest</option> -->
  </select>
</div>
<div class="form-group">
<label for="status">Status</label>
<input
  type="status"
  class="form-control"
  id="status"
  required
  [(ngModel)]="customerService.userRole.status"
  name="Status"
/>
</div>

<div class="form-group">
  <label for="photourl">Image Url</label><br>
  <!-- <img [src]="customerService.currentCustomer.image" style="width: 50px; height: 50px;"> -->
  <br>
<input type="text" 
id="photourl"
class="form-control"
required
[(ngModel)]="customerService.currentCustomer.image"
name="photourl"/>
</div>
    
<!-- <div type="submit" class="btn btn-info">Add</div> -->
<div class="text-center">
  <button
    type="submit"
    class="btn btn-success"
    (click)="createOrUpdate(customerService.currentCustomer,customerService.userRole)"
  >
  
    Add</button
  >&nbsp;
  <button
    type="submit"
    class="btn btn-info"
    (click)="Update(customerService.currentCustomer,customerService.userRole)"
  >
    Update</button
  >&nbsp;
  <button type="submit" class="btn btn-primary" (click)="clear()">
    Refresh
  </button>
 </div>
<!-- </div> -->
<!-- <div class="col-md-6"> -->
 <!-- <div class="form-group">
     <label for="mail">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      [(ngModel)]="customerService.userRole.email"
      name="email"
      required
    />
    
  </div> -->
<!-- <div class="text-center">
  <button
    type="submit"
    class="btn btn-success"
    (click)="createUser(customerService.userRole)"
  >
  
    Add</button
  >
 </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </form> -->

<!-- <div class="col-md-9">
        <label class="label col-md-3 control-label">Name : </label>
        <input type="text" class="form-control" name="name" placeholder="Customer Name">
    </div>
    <label class="label col-md-3 control-label">Phone</label>
    <div class="col-md-9">
        <input type="text" class="form-control" name="phone" placeholder="Phone No.">
    </div>
    <label class="label col-md-3 control-label">Email</label>
    <div class="col-md-9">
        <input type="email" class="form-control" name="mail" placeholder="Email Address">
    </div>
    <label class="label col-md-3 control-label">Address</label>
    <div class="col-md-9">
        <input type="text" class="form-control" name="address" placeholder="Address">
    </div>
    <a href="#">
        <div class="btn btn-info">Add</div>
    </a> -->

<!-- </div> -->

<!-- <div>
    <h4>Submitted successfully...</h4>
</div> -->
