<!-- Start hero featured area -->
<div class="mu-hero-featured-area">
    <div class="mu-hero-featured-content">
        <h2>Welcome To Dhrubo Travel & Tourism Agency </h2>
        <h1>WE PROVIDE ONLY THE BEST TOURS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut omnis beatae quam quibusdam facere expedita explicabo eaque non sit. Amet vitae exercitationem ad rerum consequuntur numquam magni nemo dolorem, itaque eius perferendis praesentium consequatur. Dolores, nihil, molestiae sunt tenetur aut similique nostrum deleniti amet minima. Esse magnam inventore, ea.</p>

    </div>
    
</div>
<!-- End hero featured area -->

<!-- End Header -->


<!-- Start main content -->
<main>
<!-- Start About -->
<section id="mu-about">
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="mu-about-area">
            <!-- Start Feature Content -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mu-about-left">
                        <img class="col-md-8" src="../../../assets/images/tour-2.jpg" alt="img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mu-about-right">
                        <h2>About Our Agency</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam aliquam distinctio magni enim error commodi suscipit nobis alias nulla, itaque ex, vitae repellat amet neque est voluptatem iure maxime eius!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus in accusamus qui sequi nisi, sint magni, ipsam, porro nesciunt id veritatis quaerat ipsum consequatur laborum, provident veniam quibusdam placeat quam?</p>
                    </div>
                </div>
            </div>
            <!-- End Feature Content -->

        </div>
    </div>
</div>
</div>
</section>
<!-- End About -->

<!-- Start Why Us -->
<section id="mu-why-us">
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="mu-why-us-area">
            <h2>Why Us?</h2>
            <div class="mu-why-us-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mu-why-us-single">
                            <div class="my-why-us-single-icon">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                            </div>
                            <h3>Luxurious Hotels</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum corporis commodi, ipsum sequi quae nemo quasi voluptatibus quaerat nulla! Doloribus cumque ipsum, tempore veritatis quibusdam quae numquam minus iste!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mu-why-us-single">
                            <div class="my-why-us-single-icon">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <h3>The Best Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum corporis commodi, ipsum sequi quae nemo quasi voluptatibus quaerat nulla! Doloribus cumque ipsum, tempore veritatis quibusdam quae numquam minus iste!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mu-why-us-single">
                            <div class="my-why-us-single-icon">
                                <i class="fa fa-plane" aria-hidden="true"></i>
                            </div>
                            <h3>Unique Experience</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum corporis commodi, ipsum sequi quae nemo quasi voluptatibus quaerat nulla! Doloribus cumque ipsum, tempore veritatis quibusdam quae numquam minus iste!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!-- End Why Us -->
