<!-- <div class="col-md-12 col-12 text-center">
	<h2>Travel & Tourism Management System</h2>
</div> -->

<!-- <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Action</a>
				  <a class="dropdown-item" href="#">Another action</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">Something else here</a>
				</div>
			  </li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			  </li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
			  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		  </div> -->

<ngb-carousel>
  <!-- <ngb-carousel *ngIf="images"> -->
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- <img [src]="images[0]" alt="Random first slide"> -->
      <img
        src="../../../assets/images/coxs.jpg"
        style="height: 500px; width: 1500px;"
      />
    </div>
    <div class="carousel-caption">
      <h3>Cox's Bazar</h3>
      <p>The largest seabeach in the world.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- <img [src]="images[1]" alt="Random second slide"> -->
      <img
        src="../../../assets/images/28161583_1846325828774473_4872236439664986472_o.jpg"
        style="height: 500px; width: 1500px;"
      />
    </div>
    <div class="carousel-caption">
      <h3>Transport</h3>
      <p>Your safe journey is our commitment .</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- <img [src]="images[2]" alt="Random third slide"> -->
      <img
        src="../../../assets/images/hotel-1.jpg"
        style="height: 500px; width: 1500px;"
      />
    </div>
    <div class="carousel-caption">
      <h3>Hotels</h3>
      <p>We are here to serve you the best hotels.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- <img [src]="images[1]" alt="Random third slide"> -->
      <img
        src="../../../assets/images/800px-Ratargul,Sylhet_2016.jpg"
        style="height: 500px; width: 1500px;"
      />
    </div>
    <div class="carousel-caption">
      <h3>Sylhet</h3>
      <p>See the beauty of nature.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- <img [src]="images[2]" alt="Random third slide"> -->
      <img
        src="../../../assets/images/masudur-rahman-3VIASEA4xZ0-unsplash.jpg"
        style="height: 500px; width: 1500px;"
      />
    </div>
    <div class="carousel-caption">
      <h3>Cox's Bazar</h3>
      <p>The largest seabeach in the world.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div>
  <marquee
    ><h4><b>***</b>Enjoy upto 15% cashback through bkash payment. Conditions
    apply.<b>***</b></h4></marquee
  >
</div>
<!-- Marketing messaging and featurettes
	  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br />
<div class="container col-md-11">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
      <img
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        src="../../../assets/images/room-3.jpg"
        style="margin-left: 120px"
      />
      <h2 class="text-center">Heading</h2>
      <p>
        Some text here. Some text here. Some text here. Some text here. 
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
      </p>
      <p>
        <a class="btn btn-secondary" style="text-decoration:none" routerLink="/dhrubo/hotels" routerLinkActive="active current" role="button"
          >Goto Hotels &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text src="../../../assets/images/coxs.jpg" x="50%" y="50%" fill="#777" dy=".3em"></text></svg> -->
      <img
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        src="../../../assets/images/room-1.jpg"
        style="margin-left: 120px"
      />
      <h2 class="text-center">Heading</h2>
      <p>
        Some text here. Some text here. Some text here. Some text here. 
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
      </p>
      <p>
        <a class="btn btn-secondary" style="text-decoration:none" routerLink="/dhrubo/hotels" routerLinkActive="active current" role="button"
          >Goto Hotels &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        src="../../../assets/images/room-2.jpg"
        style="margin-left: 120px"
      />
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
      <h2 class="text-center">Heading</h2>
      <p>
        Some text here. Some text here. Some text here. Some text here. 
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
      </p>
      <p>
        <a class="btn btn-secondary" style="text-decoration:none" routerLink="/dhrubo/hotels" routerLinkActive="active current" role="button"
          >Goto Hotels &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <hr />
  <!-- <main role="main"> -->
  <br />
  <div class="form-group">
    <h2 class="text-center">Packages</h2>
  </div>
  <div class="container tours" >
    <div class="box" *ngFor="let ltd of packages">
      <div class="imgBox">
        <img [src]="ltd.packimg" >
      </div>
      <div class="details"><a style="text-decoration:none" type="nav-link" routerLink="/dhrubo/tours" routerLinkActive="active current">
        <div
          class="content abc" style="
          text-align: center;
          padding: 75px;
          color: #fff;
          top: 50%;"
        >
          <h2 style="
          font-size: 30px;
          color: aquamarine;">
            {{ltd.packagetype}}
          </h2>
          <p>{{ltd.packageday}}<br>{{ltd.tpackfare}}Tk</p>
        </div></a>
      </div>
    </div>
  </div>
  <!-- Hotels -->
  <hr />
  <!-- <main role="main"> -->
  <br />
  <div class="form-group">
    <h2 class="text-center">Hotels</h2>
  </div>
    <div class="container tours" >
      <div class="box" *ngFor="let ltd of hotels">
          <div class="single-resort  imgBox">
            <img [src]="ltd.imgurl">
            <a style="text-decoration:none" type="nav-link" routerLink="/dhrubo/hotels" routerLinkActive="active current">
            <div class="resort-text">
              <h3>{{ltd.type}}</h3>
              <p>{{ltd.roomtype}}<br>{{ltd.rent}}Tk</p>
            </div></a>
        </div>
      </div>
    </div>
    <!-- Resorts -->
  <hr />
  <!-- <main role="main"> -->
  <br />
  <div class="form-group">
    <h2 class="text-center">Resorts</h2>
  </div>
    <div class="container tours" >
      <div class="box" *ngFor="let ltd of resorts">
          <div class="single-resort  imgBox">
            <img [src]="ltd.imgurl">
            <a style="text-decoration:none" type="nav-link" routerLink="/dhrubo/resorts" routerLinkActive="active current">
            <div class="resort-text">
              <h3>{{ltd.type}}</h3>
              <p>{{ltd.roomtype}}<br>{{ltd.rent}}Tk</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <hr />
  <!-- <main role="main"> -->
  <br />
  <div class="form-group">
    <h2 class="text-center">Transports</h2>
  </div>
  <div class="container tours" >
    <div class="box" *ngFor="let ltd of transports">
      <div class="imgBox">
        <img [src]="ltd.image" >
      </div>
      <div class="details"><a style="text-decoration:none" type="nav-link" routerLink="/dhrubo/transports" routerLinkActive="active current">
        <div
          class="content abc" style="
          text-align: center;
          padding: 75px;
          color: #fff;
          top: 50%;"
        >
          <h2 style="
          font-size: 30px;
          color: aquamarine;">
            Transport
          </h2>
          <p>{{ltd.transtype}}</p>
        </div></a>
      </div>
    </div>
  </div>
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        First featurette heading.
        <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Some text here. Some text here. Some text here. Some text here. 
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
      </p>
    </div>
    <div class="col-md-5">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title> -->
      <img
        src="../../../assets/images/coxs.jpg"
        style="height: 500px; width: 500px;"
      />
      <!-- <rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text> -->
      <!-- </svg> -->
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading" style="margin-left: 50px;">
        Oh yeah, it’s that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead" style="margin-left: 50px;">
        Some text here. Some text here. Some text here. Some text here. 
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/hotel-9.jpg"
        style="height: 500px; width: 500px;"
      />
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        And lastly, this one. <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">
        Some text here. Some text here. Some text here. Some text here. 
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
        Some text here. Some text here. Some text here. Some text here.  
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/hanif.jpg"
        style="height: 500px; width: 500px;"
      />
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    </div>
  </div>

  <hr class="featurette-divider" />
  <!-- Start Video -->
  <section id="mu-video">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-video-area">
            <h2>Watch Our Recent Trip Video</h2>
            <p class="mu-title-content">
              Some text here. Some text here. Some text here. Some text here. 
              Some text here. Some text here. Some text here. Some text here.  
              Some text here. Some text here. Some text here. Some text here.  
              Some text here. Some text here. Some text here. Some text here.  
            </p>

            <!-- Start Video content -->
            <div class="mu-video-content">
              <iframe
                width="854"
                height="480"
                src="https://www.youtube.com/embed/LqmratdBFNw"
                allowfullscreen
              ></iframe>
            </div>
            <!-- End Video content -->
            <hr class="featurette-divider" />

            <!-- map -->
            <h2>It’s easy to find us</h2>
            <div id="mu-google-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.8176744277202!2d-81.47150788457147!3d28.424757900613237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77e378ec5a9a9%3A0x2feec9271ed22c5b!2sOrange+County+Convention+Center!5e0!3m2!1sen!2sbd!4v1503833952781"
                width="850"
                height="450"
                allowfullscreen
              ></iframe>
            </div>
            <!-- </main> -->
            <!-- <script
              src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
              integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
              crossorigin="anonymous"
            ></script>
            <script>
              window.jQuery ||
                document.write(
                  '<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>'
                );
            </script>
            <script
              src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
              crossorigin="anonymous"
            ></script> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
